strong {
  font-size: 48px;
  font-feature-settings: "tnum";
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}

*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  font-family: Arial;
  justify-content: center;
  align-items: center;
  background: #f6f8ff;
}

